USE [Project]
GO
ALTER TABLE [dbo].[WorkSchedule] DROP CONSTRAINT [FK_WorkSchedule_UpdatedBy_UserID]
GO
ALTER TABLE [dbo].[WorkSchedule] DROP CONSTRAINT [FK_WorkSchedule_Animal]
GO
ALTER TABLE [dbo].[WorkSchedule] DROP CONSTRAINT [FK__WorkSched__Emplo__6754599E]
GO
ALTER TABLE [dbo].[VisitorDetails] DROP CONSTRAINT [FK__VisitorDe__Visit__3E52440B]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK__User__RoleID__3A81B327]
GO
ALTER TABLE [dbo].[Transaction] DROP CONSTRAINT [FK_Transaction_BankAccount]
GO
ALTER TABLE [dbo].[Transaction] DROP CONSTRAINT [FK__Transacti__Visit__534D60F1]
GO
ALTER TABLE [dbo].[Transaction] DROP CONSTRAINT [FK__Transacti__BankI__5441852A]
GO
ALTER TABLE [dbo].[TicketItem] DROP CONSTRAINT [FK_TicketItem_TicketPrice]
GO
ALTER TABLE [dbo].[TicketItem] DROP CONSTRAINT [FK_TicketItem_Ticket]
GO
ALTER TABLE [dbo].[Ticket] DROP CONSTRAINT [FK__Ticket__VisitorI__571DF1D5]
GO
ALTER TABLE [dbo].[Ticket] DROP CONSTRAINT [FK__Ticket__Transact__59063A47]
GO
ALTER TABLE [dbo].[Ticket] DROP CONSTRAINT [FK__Ticket__TicketPr__5812160E]
GO
ALTER TABLE [dbo].[StatusReport] DROP CONSTRAINT [FK__StatusRep__Emplo__5F141958]
GO
ALTER TABLE [dbo].[StatusReport] DROP CONSTRAINT [FK__StatusRep__Emplo__3EA749C6]
GO
ALTER TABLE [dbo].[StatusReport] DROP CONSTRAINT [FK__StatusRep__Emplo__1975C517]
GO
ALTER TABLE [dbo].[StatusReport] DROP CONSTRAINT [FK__StatusRep__Anima__5E1FF51F]
GO
ALTER TABLE [dbo].[StatusReport] DROP CONSTRAINT [FK__StatusRep__Anima__3DB3258D]
GO
ALTER TABLE [dbo].[StatusReport] DROP CONSTRAINT [FK__StatusRep__Anima__1881A0DE]
GO
ALTER TABLE [dbo].[OTPVerification] DROP CONSTRAINT [FK_OTPVerification_User]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK__OrderItem__Trans__73501C2F]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK__OrderItem__Produ__74444068]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK__OrderItem__Produ__5D2BD0E6]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK__OrderItem__Produ__3CBF0154]
GO
ALTER TABLE [dbo].[Membership] DROP CONSTRAINT [FK_Membership_Visitor]
GO
ALTER TABLE [dbo].[Membership] DROP CONSTRAINT [FK_Membership_Type]
GO
ALTER TABLE [dbo].[Membership] DROP CONSTRAINT [FK_Membership_Transaction]
GO
ALTER TABLE [dbo].[MedicalRecord] DROP CONSTRAINT [FK_MedicalRecord_Checkup]
GO
ALTER TABLE [dbo].[MedicalRecord] DROP CONSTRAINT [FK__MedicalRe__Docto__76969D2E]
GO
ALTER TABLE [dbo].[MedicalRecord] DROP CONSTRAINT [FK__MedicalRe__Anima__75A278F5]
GO
ALTER TABLE [dbo].[Feedback] DROP CONSTRAINT [FK__Feedback__Visito__619B8048]
GO
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [FK__Event__CreatedBy__7908F585]
GO
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [FK__Event__CreatedBy__5C37ACAD]
GO
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [FK__Event__CreatedBy__3BCADD1B]
GO
ALTER TABLE [dbo].[EmployeeDetails] DROP CONSTRAINT [FK__EmployeeD__Emplo__412EB0B6]
GO
ALTER TABLE [dbo].[Checkup] DROP CONSTRAINT [FK__Checkup__DoctorI__1F63A897]
GO
ALTER TABLE [dbo].[Checkup] DROP CONSTRAINT [FK__Checkup__AnimalI__1E6F845E]
GO
ALTER TABLE [dbo].[Chat] DROP CONSTRAINT [FK__Chat__SenderID__6E01572D]
GO
ALTER TABLE [dbo].[Chat] DROP CONSTRAINT [FK__Chat__ReceiverID__6EF57B66]
GO
ALTER TABLE [dbo].[CartItems] DROP CONSTRAINT [FK__CartItems__Produ__7073AF84]
GO
ALTER TABLE [dbo].[CartItems] DROP CONSTRAINT [FK__CartItems__Produ__5B438874]
GO
ALTER TABLE [dbo].[CartItems] DROP CONSTRAINT [FK__CartItems__Produ__3AD6B8E2]
GO
ALTER TABLE [dbo].[CartItems] DROP CONSTRAINT [FK__CartItems__CartI__6F7F8B4B]
GO
ALTER TABLE [dbo].[CartItems] DROP CONSTRAINT [FK__CartItems__CartI__5A4F643B]
GO
ALTER TABLE [dbo].[CartItems] DROP CONSTRAINT [FK__CartItems__CartI__39E294A9]
GO
ALTER TABLE [dbo].[BankAccount] DROP CONSTRAINT [FK_BankAccount_Bank]
GO
ALTER TABLE [dbo].[AnimalHealth] DROP CONSTRAINT [FK__AnimalHea__Updat__5EBF139D]
GO
ALTER TABLE [dbo].[AnimalHealth] DROP CONSTRAINT [FK__AnimalHea__Anima__5DCAEF64]
GO
ALTER TABLE [dbo].[AdminDetails] DROP CONSTRAINT [FK__AdminDeta__Admin__595B4002]
GO
ALTER TABLE [dbo].[AdminDetails] DROP CONSTRAINT [FK__AdminDeta__Admin__38EE7070]
GO
ALTER TABLE [dbo].[AdminDetails] DROP CONSTRAINT [FK__AdminDeta__Admin__2FCF1A8A]
GO
ALTER TABLE [dbo].[VisitorDetails] DROP CONSTRAINT [DF__VisitorDe__IsMem__3D5E1FD2]
GO
ALTER TABLE [dbo].[StatusReport] DROP CONSTRAINT [DF__StatusRep__Repor__178D7CA5]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__DateAd__68D28DBC]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__StockQ__67DE6983]
GO
ALTER TABLE [dbo].[OTPVerification] DROP CONSTRAINT [DF__OTPVerifi__IsVer__59C55456]
GO
ALTER TABLE [dbo].[MembershipType] DROP CONSTRAINT [DF__Membershi__IsAct__5F492382]
GO
ALTER TABLE [dbo].[Membership] DROP CONSTRAINT [DF__Membershi__IsAct__5A846E65]
GO
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [DF__Event__CreatedDa__79FD19BE]
GO
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [DF__Event__IsActive__7814D14C]
GO
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [DF__Event__TicketPri__7720AD13]
GO
ALTER TABLE [dbo].[Chat] DROP CONSTRAINT [DF_Chat_IsRead]
GO
ALTER TABLE [dbo].[Chat] DROP CONSTRAINT [DF_Chat_SentAt]
GO
ALTER TABLE [dbo].[CartItems] DROP CONSTRAINT [DF__CartItems__Quant__6E8B6712]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [DF__Cart__CreatedDat__6BAEFA67]
GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkSchedule]') AND type in (N'U'))
DROP TABLE [dbo].[WorkSchedule]
GO
/****** Object:  Table [dbo].[VisitorDetails]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VisitorDetails]') AND type in (N'U'))
DROP TABLE [dbo].[VisitorDetails]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transaction]') AND type in (N'U'))
DROP TABLE [dbo].[Transaction]
GO
/****** Object:  Table [dbo].[TicketPrice]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TicketPrice]') AND type in (N'U'))
DROP TABLE [dbo].[TicketPrice]
GO
/****** Object:  Table [dbo].[TicketItem]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TicketItem]') AND type in (N'U'))
DROP TABLE [dbo].[TicketItem]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ticket]') AND type in (N'U'))
DROP TABLE [dbo].[Ticket]
GO
/****** Object:  Table [dbo].[StatusReport]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StatusReport]') AND type in (N'U'))
DROP TABLE [dbo].[StatusReport]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[OTPVerification]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OTPVerification]') AND type in (N'U'))
DROP TABLE [dbo].[OTPVerification]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
DROP TABLE [dbo].[OrderItems]
GO
/****** Object:  Table [dbo].[MembershipType]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MembershipType]') AND type in (N'U'))
DROP TABLE [dbo].[MembershipType]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Membership]') AND type in (N'U'))
DROP TABLE [dbo].[Membership]
GO
/****** Object:  Table [dbo].[MedicalRecord]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MedicalRecord]') AND type in (N'U'))
DROP TABLE [dbo].[MedicalRecord]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feedback]') AND type in (N'U'))
DROP TABLE [dbo].[Feedback]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Event]') AND type in (N'U'))
DROP TABLE [dbo].[Event]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDetails]') AND type in (N'U'))
DROP TABLE [dbo].[EmployeeDetails]
GO
/****** Object:  Table [dbo].[Checkup]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Checkup]') AND type in (N'U'))
DROP TABLE [dbo].[Checkup]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Chat]') AND type in (N'U'))
DROP TABLE [dbo].[Chat]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CartItems]') AND type in (N'U'))
DROP TABLE [dbo].[CartItems]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cart]') AND type in (N'U'))
DROP TABLE [dbo].[Cart]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankAccount]') AND type in (N'U'))
DROP TABLE [dbo].[BankAccount]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bank]') AND type in (N'U'))
DROP TABLE [dbo].[Bank]
GO
/****** Object:  Table [dbo].[AnimalHealth]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AnimalHealth]') AND type in (N'U'))
DROP TABLE [dbo].[AnimalHealth]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Animal]') AND type in (N'U'))
DROP TABLE [dbo].[Animal]
GO
/****** Object:  Table [dbo].[AdminDetails]    Script Date: 8/21/2025 7:34:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdminDetails]') AND type in (N'U'))
DROP TABLE [dbo].[AdminDetails]
GO
USE [master]
GO
/****** Object:  Database [Project]    Script Date: 8/21/2025 7:34:28 PM ******/
DROP DATABASE [Project]
GO
/****** Object:  Database [Project]    Script Date: 8/21/2025 7:34:28 PM ******/
CREATE DATABASE [Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prpject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Prpject.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prpject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Prpject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project]
GO
/****** Object:  Table [dbo].[AdminDetails]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminDetails](
	[AdminID] [int] NOT NULL,
	[SharePercentage] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[AnimalID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Species] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[Age] [int] NULL,
	[ArrivalDate] [date] NULL,
	[ProfileImage] [varchar](255) NULL,
	[Status] [varchar](50) NULL,
	[ScientificName] [varchar](50) NULL,
 CONSTRAINT [PK__Animal__A21A732704139413] PRIMARY KEY CLUSTERED 
(
	[AnimalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalHealth]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalHealth](
	[HealthID] [int] IDENTITY(1,1) NOT NULL,
	[AnimalID] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CheckupDate] [date] NULL,
	[HealthCondition] [nvarchar](50) NULL,
 CONSTRAINT [PK__AnimalHe__AD242140A3EF7121] PRIMARY KEY CLUSTERED 
(
	[HealthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[BankID] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[SwiftCode] [varchar](50) NULL,
 CONSTRAINT [PK__Bank__AA08CB333F0375A6] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[BankID] [int] NOT NULL,
	[AccountNumber] [varchar](20) NOT NULL,
	[AccountHolderName] [varchar](100) NOT NULL,
	[Balance] [decimal](15, 2) NULL,
	[AccountType] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[AccountHolderEmail] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ChatID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[Message] [text] NULL,
	[SentAt] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK__Chat__A9FBE6268AA92B09] PRIMARY KEY CLUSTERED 
(
	[ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checkup]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkup](
	[CheckupID] [int] IDENTITY(1,1) NOT NULL,
	[AnimalID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[CheckupDate] [datetime] NOT NULL,
	[Weight] [float] NULL,
	[Temperature] [float] NULL,
	[HeartRate] [int] NULL,
	[HealthCondition] [nvarchar](100) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK__Checkup__626E8531BB9C4BA6] PRIMARY KEY CLUSTERED 
(
	[CheckupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[EmployeeID] [int] NOT NULL,
	[EmployeeType] [varchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
	[EmployeePicture] [varchar](max) NULL,
 CONSTRAINT [PK__Employee__7AD04FF1E881571B] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](100) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Location] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[MaxCapacity] [int] NULL,
	[TicketPrice] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NULL,
	[Message] [text] NULL,
	[Rating] [int] NULL,
	[DateSubmitted] [date] NULL,
 CONSTRAINT [PK__Feedback__6A4BEDF635A49EF2] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecord]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecord](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[AnimalID] [int] NULL,
	[DoctorID] [int] NULL,
	[TreatmentDate] [date] NULL,
	[Treatment] [nvarchar](max) NULL,
	[MedicineGiven] [nvarchar](max) NULL,
	[NextVisitDate] [date] NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[CheckupID] [int] NULL,
 CONSTRAINT [PK__MedicalR__FBDF78C99E7718A5] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[MembershipID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NOT NULL,
	[MembershipTypeID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Adults] [int] NOT NULL,
	[Children] [int] NOT NULL,
	[TransactionID] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MembershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipType]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipType](
	[MembershipTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[AdultPrice] [decimal](10, 2) NOT NULL,
	[ChildPrice] [decimal](10, 2) NULL,
	[DurationMonths] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MembershipTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPVerification]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPVerification](
	[OTPID] [int] IDENTITY(1,1) NOT NULL,
	[OTPCode] [varchar](6) NULL,
	[SentAt] [datetime] NULL,
	[IsVerified] [bit] NULL,
	[ExpiresAt] [datetime] NULL,
	[Email] [varchar](50) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK__OTPVerif__5C2EC562921D4A55] PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
	[ImageThumbnailPath] [nvarchar](255) NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
 CONSTRAINT [PK__Role__8AFACE3A8DBD6A0C] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusReport]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusReport](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[AnimalID] [int] NOT NULL,
	[StaffName] [varchar](150) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ReportDate] [date] NOT NULL,
	[GeneralAppearance] [varchar](250) NULL,
	[Temperature] [float] NULL,
	[Appetite] [varchar](100) NULL,
	[HydrationStatus] [varchar](100) NULL,
	[Eyes] [varchar](100) NULL,
	[Breathing] [varchar](100) NULL,
	[Urination] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NULL,
	[PurchaseDate] [date] NULL,
	[VisitDate] [date] NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[TicketPriceID] [int] NULL,
	[TransactionID] [int] NULL,
	[TransactionStatus] [varchar](50) NULL,
 CONSTRAINT [PK__Ticket__712CC627BD609629] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketItem]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketItem](
	[TicketItemID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NULL,
	[TicketPriceID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketPrice]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketPrice](
	[TicketPriceID] [int] NOT NULL,
	[TicketType] [varchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketPriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NULL,
	[PaymentMethod] [varchar](50) NULL,
	[TransactionDate] [date] NULL,
	[Amount] [decimal](10, 2) NULL,
	[Status] [varchar](20) NULL,
	[BankID] [int] NULL,
	[AccountID] [int] NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK__Transact__55433A4BD99AA67E] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NULL,
	[Password] [varchar](255) NULL,
	[Email] [varchar](100) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Address] [text] NULL,
	[Gender] [varchar](50) NULL,
	[JoinDate] [date] NULL,
	[RoleID] [int] NULL,
	[Dob] [datetime] NULL,
 CONSTRAINT [PK__User__1788CCAC2477FA46] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorDetails]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorDetails](
	[VisitorID] [int] NOT NULL,
	[IsMember] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 8/21/2025 7:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Task] [varchar](max) NOT NULL,
	[WorkDate] [date] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[AnimalID] [int] NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK__WorkSche__9C8A5B6942C5862F] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AdminDetails] ([AdminID], [SharePercentage]) VALUES (1, CAST(50.00 AS Decimal(5, 2)))
INSERT [dbo].[AdminDetails] ([AdminID], [SharePercentage]) VALUES (1016, CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[AdminDetails] ([AdminID], [SharePercentage]) VALUES (1022, CAST(0.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[Animal] ON 

INSERT [dbo].[Animal] ([AnimalID], [Name], [Species], [Gender], [Age], [ArrivalDate], [ProfileImage], [Status], [ScientificName]) VALUES (1, N'Panda', N'Panda', N'Male', 10, CAST(N'2023-02-01' AS Date), NULL, N'Sick', N'Panfddas')
INSERT [dbo].[Animal] ([AnimalID], [Name], [Species], [Gender], [Age], [ArrivalDate], [ProfileImage], [Status], [ScientificName]) VALUES (2, N'Lion', N'Lion', N'Male', 4, CAST(N'2023-02-02' AS Date), NULL, N'Sick', N'Lionas')
INSERT [dbo].[Animal] ([AnimalID], [Name], [Species], [Gender], [Age], [ArrivalDate], [ProfileImage], [Status], [ScientificName]) VALUES (3, N'Panthera leo', N'Lion', N'Male', 5, CAST(N'2022-03-15' AS Date), N'lion_001.jpg', N'Active', N'Panthera leo')
SET IDENTITY_INSERT [dbo].[Animal] OFF
GO
SET IDENTITY_INSERT [dbo].[AnimalHealth] ON 

INSERT [dbo].[AnimalHealth] ([HealthID], [AnimalID], [UpdatedBy], [CheckupDate], [HealthCondition]) VALUES (1, 1, 3, CAST(N'2025-04-04' AS Date), N'Sick')
INSERT [dbo].[AnimalHealth] ([HealthID], [AnimalID], [UpdatedBy], [CheckupDate], [HealthCondition]) VALUES (3, 2, 3, CAST(N'2025-05-05' AS Date), N'Good')
SET IDENTITY_INSERT [dbo].[AnimalHealth] OFF
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([BankID], [BankName], [IsActive], [SwiftCode]) VALUES (1, N'', NULL, NULL)
INSERT [dbo].[Bank] ([BankID], [BankName], [IsActive], [SwiftCode]) VALUES (2, N'', NULL, NULL)
INSERT [dbo].[Bank] ([BankID], [BankName], [IsActive], [SwiftCode]) VALUES (3, N'City Bank', 1, N'CITYBDDH')
SET IDENTITY_INSERT [dbo].[Bank] OFF
GO
SET IDENTITY_INSERT [dbo].[BankAccount] ON 

INSERT [dbo].[BankAccount] ([AccountID], [BankID], [AccountNumber], [AccountHolderName], [Balance], [AccountType], [IsActive], [AccountHolderEmail]) VALUES (1, 3, N'10012004500', N'Protroy Roy', CAST(123277.27 AS Decimal(15, 2)), N'Checking', 1, N'prottoyroy900@gmail.com')
INSERT [dbo].[BankAccount] ([AccountID], [BankID], [AccountNumber], [AccountHolderName], [Balance], [AccountType], [IsActive], [AccountHolderEmail]) VALUES (2, 3, N'10012004501', N'Protroy Roy', CAST(349780.80 AS Decimal(15, 2)), N'Savings', 1, N'protroyroy900@gmail.com')
INSERT [dbo].[BankAccount] ([AccountID], [BankID], [AccountNumber], [AccountHolderName], [Balance], [AccountType], [IsActive], [AccountHolderEmail]) VALUES (3, 4, N'4556872301', N'Dujoy Saha', CAST(77650.03 AS Decimal(15, 2)), N'Checking', 1, N'durjoy.saha1115@gmail.com')
SET IDENTITY_INSERT [dbo].[BankAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [VisitorID], [CreatedDate]) VALUES (4, 1023, CAST(N'2025-07-11T22:09:21.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemID], [CartID], [ProductID], [Quantity]) VALUES (5, 4, 1, 1)
INSERT [dbo].[CartItems] ([CartItemID], [CartID], [ProductID], [Quantity]) VALUES (6, 4, 3, 1)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (1, 2, 3, N'kire', CAST(N'2025-06-01T00:05:10.133' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (2, 3, 2, N'Hello, how are you?', CAST(N'2025-06-06T23:19:43.887' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (3, 2, 3, N'kire', CAST(N'2025-06-07T03:45:21.960' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (6, 2, 3, N'hi
', CAST(N'2025-06-07T04:25:39.570' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (8, 2, 3, N'hou
', CAST(N'2025-06-07T04:25:55.770' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (14, 2, 3, N'kmn achos
', CAST(N'2025-06-07T04:32:57.520' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (17, 2, 3, N'ki re
', CAST(N'2025-06-07T04:43:53.917' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (48, 2, 15, N'Hey Kash
', CAST(N'2025-06-10T18:41:14.070' AS DateTime), 0)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (49, 1, 15, N'HI
', CAST(N'2025-06-11T01:39:22.037' AS DateTime), 0)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (50, 1, 2, N'Hey girl where are you?
', CAST(N'2025-06-11T01:39:46.183' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (51, 3, 2, N'Kmn achos?
', CAST(N'2025-06-11T01:40:35.517' AS DateTime), 1)
INSERT [dbo].[Chat] ([ChatID], [SenderID], [ReceiverID], [Message], [SentAt], [IsRead]) VALUES (1056, 2, 1, N'hey
', CAST(N'2025-06-30T00:03:18.550' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
SET IDENTITY_INSERT [dbo].[Checkup] ON 

INSERT [dbo].[Checkup] ([CheckupID], [AnimalID], [DoctorID], [CheckupDate], [Weight], [Temperature], [HeartRate], [HealthCondition], [Notes]) VALUES (1, 2, 2, CAST(N'2025-06-30T00:00:00.000' AS DateTime), 22222222, 24, 33, N'Healthy', N'yy')
INSERT [dbo].[Checkup] ([CheckupID], [AnimalID], [DoctorID], [CheckupDate], [Weight], [Temperature], [HeartRate], [HealthCondition], [Notes]) VALUES (3, 2, 2, CAST(N'2025-06-28T00:00:00.000' AS DateTime), 23, 42, 45, N'Died', N'reathing Issue')
INSERT [dbo].[Checkup] ([CheckupID], [AnimalID], [DoctorID], [CheckupDate], [Weight], [Temperature], [HeartRate], [HealthCondition], [Notes]) VALUES (4, 2, 2, CAST(N'2025-06-28T00:00:00.000' AS DateTime), 29, 34, 45, N'Sick', N'')
SET IDENTITY_INSERT [dbo].[Checkup] OFF
GO
INSERT [dbo].[EmployeeDetails] ([EmployeeID], [EmployeeType], [Salary], [EmployeePicture]) VALUES (2, N'Doctor', CAST(400000.00 AS Decimal(10, 2)), N'F:\\jpg2png\\4f290be6-0ddc-4051-8011-64bb7dfde959.png')
INSERT [dbo].[EmployeeDetails] ([EmployeeID], [EmployeeType], [Salary], [EmployeePicture]) VALUES (3, N'Doctor', CAST(300000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[EmployeeDetails] ([EmployeeID], [EmployeeType], [Salary], [EmployeePicture]) VALUES (6, N'Staff', CAST(10000.00 AS Decimal(10, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventID], [EventName], [EventDate], [Location], [Description], [MaxCapacity], [TicketPrice], [IsActive], [CreatedBy], [CreatedDate]) VALUES (1, N'Concert', CAST(N'2025-11-20T21:14:00.000' AS DateTime), N'qwe', N'weqwe', 50, CAST(43.00 AS Decimal(10, 2)), 1, 16, CAST(N'2025-07-02T12:32:48.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [VisitorID], [Message], [Rating], [DateSubmitted]) VALUES (1, 4, N'yyguyiut', 4, CAST(N'2025-07-01' AS Date))
INSERT [dbo].[Feedback] ([FeedbackID], [VisitorID], [Message], [Rating], [DateSubmitted]) VALUES (2, 4, N'euhgy', 5, CAST(N'2025-07-01' AS Date))
INSERT [dbo].[Feedback] ([FeedbackID], [VisitorID], [Message], [Rating], [DateSubmitted]) VALUES (3, 4, N'tyrghi', 3, CAST(N'2025-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecord] ON 

INSERT [dbo].[MedicalRecord] ([RecordID], [AnimalID], [DoctorID], [TreatmentDate], [Treatment], [MedicineGiven], [NextVisitDate], [Notes], [Status], [CheckupID]) VALUES (9, 1, 2, CAST(N'2025-09-09' AS Date), N'Afe', N'su', CAST(N'2025-06-29' AS Date), N'efe', N'SIck', 3)
INSERT [dbo].[MedicalRecord] ([RecordID], [AnimalID], [DoctorID], [TreatmentDate], [Treatment], [MedicineGiven], [NextVisitDate], [Notes], [Status], [CheckupID]) VALUES (11, 2, 15, CAST(N'2025-03-04' AS Date), N'ghg', N'tdt', NULL, NULL, N'Died', 5)
INSERT [dbo].[MedicalRecord] ([RecordID], [AnimalID], [DoctorID], [TreatmentDate], [Treatment], [MedicineGiven], [NextVisitDate], [Notes], [Status], [CheckupID]) VALUES (12, 1, NULL, CAST(N'2025-06-28' AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MedicalRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[Membership] ON 

INSERT [dbo].[Membership] ([MembershipID], [VisitorID], [MembershipTypeID], [StartDate], [EndDate], [Adults], [Children], [TransactionID], [IsActive]) VALUES (2, 4, 1, CAST(N'2025-05-05' AS Date), CAST(N'2026-05-05' AS Date), 2, 1, 1, 1)
INSERT [dbo].[Membership] ([MembershipID], [VisitorID], [MembershipTypeID], [StartDate], [EndDate], [Adults], [Children], [TransactionID], [IsActive]) VALUES (8, 1023, 1, CAST(N'2025-07-10' AS Date), CAST(N'2026-07-10' AS Date), 2, 2, 8, 1)
SET IDENTITY_INSERT [dbo].[Membership] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipType] ON 

INSERT [dbo].[MembershipType] ([MembershipTypeID], [Name], [Description], [AdultPrice], [ChildPrice], [DurationMonths], [IsActive]) VALUES (1, N'Gold', N'etry', CAST(137.00 AS Decimal(10, 2)), CAST(82.20 AS Decimal(10, 2)), 12, 1)
INSERT [dbo].[MembershipType] ([MembershipTypeID], [Name], [Description], [AdultPrice], [ChildPrice], [DurationMonths], [IsActive]) VALUES (2, N'Silver', N'dh', CAST(160.00 AS Decimal(10, 2)), CAST(60.00 AS Decimal(10, 2)), 12, 1)
SET IDENTITY_INSERT [dbo].[MembershipType] OFF
GO
SET IDENTITY_INSERT [dbo].[OTPVerification] ON 

INSERT [dbo].[OTPVerification] ([OTPID], [OTPCode], [SentAt], [IsVerified], [ExpiresAt], [Email], [UserId]) VALUES (1, N'464965', CAST(N'2025-07-01T03:18:20.000' AS DateTime), 0, CAST(N'2025-07-01T03:23:20.000' AS DateTime), N'durjoy.saha1115@gmail.com', 1016)
INSERT [dbo].[OTPVerification] ([OTPID], [OTPCode], [SentAt], [IsVerified], [ExpiresAt], [Email], [UserId]) VALUES (2, N'236038', CAST(N'2025-07-01T03:21:54.000' AS DateTime), 0, CAST(N'2025-07-01T03:26:54.000' AS DateTime), N'protitiprachi@gmail.com', 1017)
INSERT [dbo].[OTPVerification] ([OTPID], [OTPCode], [SentAt], [IsVerified], [ExpiresAt], [Email], [UserId]) VALUES (3, N'397775', CAST(N'2025-07-01T03:34:19.000' AS DateTime), 0, CAST(N'2025-07-01T03:39:19.000' AS DateTime), N'durjoy.saha1115@gmail.com', 1016)
SET IDENTITY_INSERT [dbo].[OTPVerification] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Name], [Price], [StockQuantity], [ImagePath], [ImageThumbnailPath], [DateAdded]) VALUES (1, N'Sea Lif Animal Roll Color Kit', CAST(29.99 AS Decimal(10, 2)), 29, N'Resources/ShopPic/colorkit.png', N'Resources/ShopPic/Thumbnails/colorkit.png', CAST(N'2025-07-01T21:02:20.570' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [StockQuantity], [ImagePath], [ImageThumbnailPath], [DateAdded]) VALUES (2, N'Jungle Animal Wall Art', CAST(49.99 AS Decimal(10, 2)), 50, N'Resources/ShopPic/wallArt.png', N'Resources/ShopPic/Thumbnails/wallArt.png', CAST(N'2025-07-01T21:02:20.570' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [StockQuantity], [ImagePath], [ImageThumbnailPath], [DateAdded]) VALUES (3, N'Neon Mini Marker', CAST(39.99 AS Decimal(10, 2)), 50, N'Resources/ShopPic/marker.png', N'Resources/ShopPic/Thumbnails/marker.png', CAST(N'2025-07-01T21:02:20.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Employee')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Visitor')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusReport] ON 

INSERT [dbo].[StatusReport] ([ReportID], [AnimalID], [StaffName], [EmployeeID], [ReportDate], [GeneralAppearance], [Temperature], [Appetite], [HydrationStatus], [Eyes], [Breathing], [Urination]) VALUES (1, 2, N'Prottoy', 6, CAST(N'2025-07-02' AS Date), N'Thin', 60, N'Decreased', N'Dehydrated', N'Swollen', N'Labored', N'Diarrhea')
INSERT [dbo].[StatusReport] ([ReportID], [AnimalID], [StaffName], [EmployeeID], [ReportDate], [GeneralAppearance], [Temperature], [Appetite], [HydrationStatus], [Eyes], [Breathing], [Urination]) VALUES (2, 17, N'Prottoy', 6, CAST(N'2025-07-11' AS Date), N'Overweight', 30, N'Increased', N'Normal', N'Swollen', N'Labored', N'Constipation')
SET IDENTITY_INSERT [dbo].[StatusReport] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketID], [VisitorID], [PurchaseDate], [VisitDate], [TotalCost], [TicketPriceID], [TransactionID], [TransactionStatus]) VALUES (3, 4, CAST(N'2025-06-06' AS Date), CAST(N'2025-06-30' AS Date), CAST(700.00 AS Decimal(10, 2)), 2, 1, NULL)
INSERT [dbo].[Ticket] ([TicketID], [VisitorID], [PurchaseDate], [VisitDate], [TotalCost], [TicketPriceID], [TransactionID], [TransactionStatus]) VALUES (4, 4, CAST(N'2025-06-30' AS Date), CAST(N'2025-06-30' AS Date), CAST(790.00 AS Decimal(10, 2)), 2, 1, NULL)
INSERT [dbo].[Ticket] ([TicketID], [VisitorID], [PurchaseDate], [VisitDate], [TotalCost], [TicketPriceID], [TransactionID], [TransactionStatus]) VALUES (5, 4, CAST(N'2025-07-01' AS Date), CAST(N'2025-07-25' AS Date), CAST(392.00 AS Decimal(10, 2)), NULL, 2, N'Confirmed')
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketItem] ON 

INSERT [dbo].[TicketItem] ([TicketItemID], [TicketID], [TicketPriceID], [Quantity], [Subtotal]) VALUES (1, 5, 1, 8, CAST(280.00 AS Decimal(10, 2)))
INSERT [dbo].[TicketItem] ([TicketItemID], [TicketID], [TicketPriceID], [Quantity], [Subtotal]) VALUES (2, 5, 2, 8, CAST(196.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TicketItem] OFF
GO
INSERT [dbo].[TicketPrice] ([TicketPriceID], [TicketType], [Price]) VALUES (1, N'Adult', CAST(35.00 AS Decimal(10, 2)))
INSERT [dbo].[TicketPrice] ([TicketPriceID], [TicketType], [Price]) VALUES (2, N'Child', CAST(24.50 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TransactionID], [VisitorID], [PaymentMethod], [TransactionDate], [Amount], [Status], [BankID], [AccountID], [Description]) VALUES (1, 4, N'Bank', CAST(N'2025-06-08' AS Date), CAST(750.00 AS Decimal(10, 2)), N'Succes', 2, NULL, N'Dis')
INSERT [dbo].[Transaction] ([TransactionID], [VisitorID], [PaymentMethod], [TransactionDate], [Amount], [Status], [BankID], [AccountID], [Description]) VALUES (2, 4, N'Bank', CAST(N'2025-07-25' AS Date), CAST(392.00 AS Decimal(10, 2)), N'Success', 4, 1, N'Zoo Ticket Purchase')
INSERT [dbo].[Transaction] ([TransactionID], [VisitorID], [PaymentMethod], [TransactionDate], [Amount], [Status], [BankID], [AccountID], [Description]) VALUES (8, 1023, N'Direct Debit', CAST(N'2025-07-10' AS Date), CAST(350.72 AS Decimal(10, 2)), N'Completed', 4, 3, N'Membership')
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FullName], [Password], [Email], [PhoneNumber], [Address], [Gender], [JoinDate], [RoleID], [Dob]) VALUES (1, N'Durjoy', N'12345678', N'durjoy.saha1111@gmail.com', N'01726651486', N'Kuril', N'Male', CAST(N'2025-05-05' AS Date), 1, NULL)
INSERT [dbo].[User] ([UserID], [FullName], [Password], [Email], [PhoneNumber], [Address], [Gender], [JoinDate], [RoleID], [Dob]) VALUES (2, N'Prachi', N'12345678', N'prachi@gmailcom', N'01330497737', N'Kuril', N'Female', CAST(N'2025-01-02' AS Date), 2, NULL)
INSERT [dbo].[User] ([UserID], [FullName], [Password], [Email], [PhoneNumber], [Address], [Gender], [JoinDate], [RoleID], [Dob]) VALUES (3, N'Ishraq', N'12345678', N'ishraq12@gmail.com', N'0172632273', N'Dhaka', N'Male', CAST(N'2025-01-03' AS Date), 2, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[VisitorDetails] ([VisitorID], [IsMember]) VALUES (4, 1)
INSERT [dbo].[VisitorDetails] ([VisitorID], [IsMember]) VALUES (1018, 1)
INSERT [dbo].[VisitorDetails] ([VisitorID], [IsMember]) VALUES (1022, 0)
GO
SET IDENTITY_INSERT [dbo].[WorkSchedule] ON 

INSERT [dbo].[WorkSchedule] ([ScheduleID], [EmployeeID], [Task], [WorkDate], [UpdatedBy], [AnimalID], [Status]) VALUES (9, 15, N'Check', CAST(N'2025-06-27' AS Date), 1, 1, NULL)
INSERT [dbo].[WorkSchedule] ([ScheduleID], [EmployeeID], [Task], [WorkDate], [UpdatedBy], [AnimalID], [Status]) VALUES (11, 2, N'Check`', CAST(N'2025-07-30' AS Date), 1, 2, N'Completed')
INSERT [dbo].[WorkSchedule] ([ScheduleID], [EmployeeID], [Task], [WorkDate], [UpdatedBy], [AnimalID], [Status]) VALUES (12, 3, N'Check ', CAST(N'2025-06-29' AS Date), 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[WorkSchedule] OFF
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Chat] ADD  CONSTRAINT [DF_Chat_SentAt]  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Chat] ADD  CONSTRAINT [DF_Chat_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT ((0.00)) FOR [TicketPrice]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Membership] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MembershipType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OTPVerification] ADD  CONSTRAINT [DF__OTPVerifi__IsVer__59C55456]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[StatusReport] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[VisitorDetails] ADD  DEFAULT ((0)) FOR [IsMember]
GO
ALTER TABLE [dbo].[AdminDetails]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[AdminDetails]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[AdminDetails]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[AnimalHealth]  WITH CHECK ADD  CONSTRAINT [FK__AnimalHea__Anima__5DCAEF64] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[AnimalHealth] CHECK CONSTRAINT [FK__AnimalHea__Anima__5DCAEF64]
GO
ALTER TABLE [dbo].[AnimalHealth]  WITH CHECK ADD  CONSTRAINT [FK__AnimalHea__Updat__5EBF139D] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeID])
GO
ALTER TABLE [dbo].[AnimalHealth] CHECK CONSTRAINT [FK__AnimalHea__Updat__5EBF139D]
GO
ALTER TABLE [dbo].[BankAccount]  WITH CHECK ADD  CONSTRAINT [FK_BankAccount_Bank] FOREIGN KEY([BankID])
REFERENCES [dbo].[Bank] ([BankID])
GO
ALTER TABLE [dbo].[BankAccount] CHECK CONSTRAINT [FK_BankAccount_Bank]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartID])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartID])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartID])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK__Chat__ReceiverID__6EF57B66] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK__Chat__ReceiverID__6EF57B66]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK__Chat__SenderID__6E01572D] FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK__Chat__SenderID__6E01572D]
GO
ALTER TABLE [dbo].[Checkup]  WITH CHECK ADD  CONSTRAINT [FK__Checkup__AnimalI__1E6F845E] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[Checkup] CHECK CONSTRAINT [FK__Checkup__AnimalI__1E6F845E]
GO
ALTER TABLE [dbo].[Checkup]  WITH CHECK ADD  CONSTRAINT [FK__Checkup__DoctorI__1F63A897] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeID])
GO
ALTER TABLE [dbo].[Checkup] CHECK CONSTRAINT [FK__Checkup__DoctorI__1F63A897]
GO
ALTER TABLE [dbo].[EmployeeDetails]  WITH CHECK ADD  CONSTRAINT [FK__EmployeeD__Emplo__412EB0B6] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeDetails] CHECK CONSTRAINT [FK__EmployeeD__Emplo__412EB0B6]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__Visito__619B8048] FOREIGN KEY([VisitorID])
REFERENCES [dbo].[VisitorDetails] ([VisitorID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__Visito__619B8048]
GO
ALTER TABLE [dbo].[MedicalRecord]  WITH CHECK ADD  CONSTRAINT [FK__MedicalRe__Anima__75A278F5] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[MedicalRecord] CHECK CONSTRAINT [FK__MedicalRe__Anima__75A278F5]
GO
ALTER TABLE [dbo].[MedicalRecord]  WITH CHECK ADD  CONSTRAINT [FK__MedicalRe__Docto__76969D2E] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeID])
GO
ALTER TABLE [dbo].[MedicalRecord] CHECK CONSTRAINT [FK__MedicalRe__Docto__76969D2E]
GO
ALTER TABLE [dbo].[MedicalRecord]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecord_Checkup] FOREIGN KEY([CheckupID])
REFERENCES [dbo].[Checkup] ([CheckupID])
GO
ALTER TABLE [dbo].[MedicalRecord] CHECK CONSTRAINT [FK_MedicalRecord_Checkup]
GO
ALTER TABLE [dbo].[Membership]  WITH CHECK ADD  CONSTRAINT [FK_Membership_Transaction] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transaction] ([TransactionID])
GO
ALTER TABLE [dbo].[Membership] CHECK CONSTRAINT [FK_Membership_Transaction]
GO
ALTER TABLE [dbo].[Membership]  WITH CHECK ADD  CONSTRAINT [FK_Membership_Type] FOREIGN KEY([MembershipTypeID])
REFERENCES [dbo].[MembershipType] ([MembershipTypeID])
GO
ALTER TABLE [dbo].[Membership] CHECK CONSTRAINT [FK_Membership_Type]
GO
ALTER TABLE [dbo].[Membership]  WITH CHECK ADD  CONSTRAINT [FK_Membership_Visitor] FOREIGN KEY([VisitorID])
REFERENCES [dbo].[VisitorDetails] ([VisitorID])
GO
ALTER TABLE [dbo].[Membership] CHECK CONSTRAINT [FK_Membership_Visitor]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Trans__73501C2F] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transaction] ([TransactionID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK__OrderItem__Trans__73501C2F]
GO
ALTER TABLE [dbo].[OTPVerification]  WITH CHECK ADD  CONSTRAINT [FK_OTPVerification_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[OTPVerification] CHECK CONSTRAINT [FK_OTPVerification_User]
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeID])
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeID])
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK__Ticket__TicketPr__5812160E] FOREIGN KEY([TicketPriceID])
REFERENCES [dbo].[TicketPrice] ([TicketPriceID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK__Ticket__TicketPr__5812160E]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK__Ticket__Transact__59063A47] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transaction] ([TransactionID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK__Ticket__Transact__59063A47]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK__Ticket__VisitorI__571DF1D5] FOREIGN KEY([VisitorID])
REFERENCES [dbo].[VisitorDetails] ([VisitorID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK__Ticket__VisitorI__571DF1D5]
GO
ALTER TABLE [dbo].[TicketItem]  WITH CHECK ADD  CONSTRAINT [FK_TicketItem_Ticket] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([TicketID])
GO
ALTER TABLE [dbo].[TicketItem] CHECK CONSTRAINT [FK_TicketItem_Ticket]
GO
ALTER TABLE [dbo].[TicketItem]  WITH CHECK ADD  CONSTRAINT [FK_TicketItem_TicketPrice] FOREIGN KEY([TicketPriceID])
REFERENCES [dbo].[TicketPrice] ([TicketPriceID])
GO
ALTER TABLE [dbo].[TicketItem] CHECK CONSTRAINT [FK_TicketItem_TicketPrice]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__BankI__5441852A] FOREIGN KEY([BankID])
REFERENCES [dbo].[Bank] ([BankID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK__Transacti__BankI__5441852A]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__Visit__534D60F1] FOREIGN KEY([VisitorID])
REFERENCES [dbo].[VisitorDetails] ([VisitorID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK__Transacti__Visit__534D60F1]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_BankAccount] FOREIGN KEY([AccountID])
REFERENCES [dbo].[BankAccount] ([AccountID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_BankAccount]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__User__RoleID__3A81B327] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__User__RoleID__3A81B327]
GO
ALTER TABLE [dbo].[VisitorDetails]  WITH CHECK ADD  CONSTRAINT [FK__VisitorDe__Visit__3E52440B] FOREIGN KEY([VisitorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[VisitorDetails] CHECK CONSTRAINT [FK__VisitorDe__Visit__3E52440B]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK__WorkSched__Emplo__6754599E] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeID])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK__WorkSched__Emplo__6754599E]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_Animal] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_Animal]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedule_UpdatedBy_UserID] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[WorkSchedule] CHECK CONSTRAINT [FK_WorkSchedule_UpdatedBy_UserID]
GO
USE [master]
GO
